@font-face {
    font-family: 'TC October';
    src: url('./fonts/TC-October.otf') format('opentype'); /* OTF format */
    font-weight: normal;
    font-style: normal;
  }
  
  /* Tailwind Directives */
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  


  ion-icon {
    color: #8ce99a;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  